:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--black);
  background-color: var(--white);

  --black: #2e3440;
  --white: #eceff4;
  --red: #bf616a;
  --green: #a3be8c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#document-revision-text {
  text-align: justify;
}

.diff-remove {
  background-color: var(--red);
}

.diff-add {
  color: var(--black);
  background-color: var(--green);
}

.hidden {
  color: var(--white);
  background-color: var(--white);
}

.column {
  float: left;
  width: calc(50% - 32px);
  margin: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--white);
    background-color: var(--black);
  }

  .hidden {
    color: var(--black);
    background-color: var(--black);
  }
}
